@tailwind base;
@tailwind components;
@tailwind utilities;

.main-pink{
    background: #FFF0E5;
}
.main-yellow {
    background: #FFD300;
}
.main-dark {
    background: #10162F;
}
.main-blue {
    background: #3A10E5;
}